:root{

--general-background: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);    
--general-font-color: #000000;

}


html, body {

    min-height: 100vh;
    width: 100%;
    margin: 0;
    background-color: var(--general-background);
    font-family: "amble";
    color: var(--general-font-color);

}

body{

    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--general-background);
    background-image: url(camp-cross-background.png);
    background-repeat: repeat;
    background-size: 4rem;
}


@font-face {
    font-family: "amble";
    src: url("amble/Amble-Regular.woff2") format("woff2"),
        url("amble/Amble-Regular.woff") format("woff");

    font-weight: normal;
    font-style: normal;
    font-display: swap;

}

@font-face {
    font-family: "amble-bold";
    src: url("amble/Amble-Bold.woff2") format("woff2"),
        url("amble/Amble-Bold.woff") format("woff");

    font-weight: normal;
    font-style: normal;
    font-display: swap;

}

header{

    width: 100%;
    height: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    position: static;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.3);

}

svg {
    width: 24px;
    height: 24px;
    margin: 8px;
}

.cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.arrow{

    width: 48px;
    height: 48px;
}

#main {
    
    height: 880px;
    width: 100%;
   
}

#log-bubble{

    background-color: var(--general-background);
    border-radius: 32px;
    box-shadow: 0 0 24px 2px rgba(44, 44, 44, 0.4);
    height: 480px;
    width: 320px;
}

form > div{

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}



img[src="stDemetriosLogo.png"]{

    height: 240px;
    aspect-ratio: auto;
    

}

div:has[button]{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 24px;
    width: 48px;
    flex-wrap: nowrap;
}

