html, body{

    margin: 0;
    height: 100%;
    width: 100%;
    font-family: "amble";
    font-size: 1.5rem;
}

@font-face {
    font-family: "amble";
    src: url("amble/Amble-Regular.woff2") format("woff2"),
        url("amble/Amble-Regular.woff") format("woff");

    font-weight: normal;
    font-style: normal;
    font-display: swap;

}

#group-selector{

    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;


}

.scout-group{

    width: 33%;
    height: 100%;
    margin-top: 6rem;
    margin-bottom: 6rem;
    

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: #fff;
    transition: all 0.8s ease-in-out;

}

.scout-group > p {

    position: absolute;
    transition: top 0.8s ease-in-out;    

}

.group-name{

    top: 400px;

}
.group-age{
    top: 440px;
}